.mat-grid-list{
  margin:30px;
  padding: 20px;

}
.mat-grid-list mat-form-field{

    width: 100%;
}
.mat-grid-list button{
    margin:  5px;
    border-radius: 20px;
    justify-content: center;
}
.mat-grid-list img{
    max-width: 300px;
    max-height: fit-content;


}
.show-protuct h1{
    width: 100%;
    display:block;

}
.products-card {
    max-width: 400px;
  }