<mat-grid-list *ngIf="!deviceXS && !deviceSM; else sm" cols="2" rowHeight="500px" >
  <mat-grid-tile class="new-products-form-container" >  
<form [formGroup]="newProducts" (ngSubmit)="save()">
  <h1>add new Products</h1>
  <mat-form-field>
    <input  matInput placeholder="Products Name" formControlName="ProductsName">
    <mat-error *ngIf="ProductsName.errors?.['required']"> title is required </mat-error>
    <mat-error *ngIf="!ProductsName.errors?.['minLength']"> title Must be 5 letter</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input  matInput placeholder="Price" formControlName="Price">
    <mat-error *ngIf="Price.errors?.['required']"> Price is required </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>catogry</mat-label>
    <mat-select  name="categories" formControlName="categories">
      <mat-option value="Breads" >
        Breads   
      </mat-option>
      <mat-option  value="Fruits" >
        Fruits     
      </mat-option>
      <mat-option  value="Vegetables" >
        Vegetables   
      </mat-option>
      <mat-option value="Meats" >
        Meats     
      </mat-option>
    </mat-select>
</mat-form-field>
  <mat-form-field>
    <input matInput placeholder="image URL" formControlName="imageURL">
    <mat-error *ngIf="imageURL.errors?.['required']"> imageURl is required </mat-error>
  </mat-form-field>
  <button mat-raised-button color="accent"   type="submit"> save</button>
  <button mat-raised-button color="accent" (click)="inputfield.click()" > uplod Image</button>
</form>
<input #inputfield type="file" hidden (change)="uplodImage($event)">
</mat-grid-tile>
<mat-grid-tile >
  <mat-card class="products-card" >
    <mat-card-header>
      <mat-card-title>{{categorie.value}} </mat-card-title>
      <mat-card-subtitle>{{ProductsName.value}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="imageURL.value ?? 'src/assets/images/emptyP.jpg'"  >
    <mat-card-content>
      € {{Price.value}}
    </mat-card-content>
  </mat-card> 
</mat-grid-tile>
</mat-grid-list>
<!-- SM -->
<ng-template #sm>
  <mat-grid-list cols="1" rowHeight="500px" >
    <mat-grid-tile class="new-products-form-container" >  
      <form [formGroup]="newProducts" (ngSubmit)="save()">
        <h1>add new Products</h1>
        <mat-form-field>
          <input  matInput placeholder="Products Name" formControlName="ProductsName">
          <mat-error *ngIf="ProductsName.errors?.['required']"> title is required </mat-error>
          <mat-error *ngIf="!ProductsName.errors?.['minLength']"> title Must be 5 letter</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input  matInput placeholder="Price" formControlName="Price">
          <mat-error *ngIf="Price.errors?.['required']"> Price is required </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>catogry</mat-label>
          <mat-select  name="categories" formControlName="categories">
            <mat-option value="Breads" >
              Breads   
            </mat-option>
            <mat-option  value="Fruits" >
              Fruits     
            </mat-option>
            <mat-option  value="Vegetables" >
              Vegetables   
            </mat-option>
            <mat-option value="Meats" >
              Meats     
            </mat-option>
          </mat-select>
      </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="image URL" formControlName="imageURL">
          <mat-error *ngIf="imageURL.errors?.['required']"> imageURl is required </mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent"   type="submit"> save</button>
        <button mat-raised-button color="accent" (click)="inputfield" > uplodImage</button>
      </form>
      <input #inputfield type="file" hidden (change)="uplodImage($event)">
      </mat-grid-tile>
      <mat-grid-tile >
        <mat-card class="products-card">
          <mat-card-header>
            <mat-card-title>{{categorie.value}} </mat-card-title>
            <mat-card-subtitle>{{ProductsName.value}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="imageURL.value ?? 'src/assets/images/emptyP.jpg'"  >
          <mat-card-content>
            € {{Price.value}}
          </mat-card-content>
        </mat-card> 
      </mat-grid-tile>
  </mat-grid-list>

</ng-template>
