
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$shoppingCart-primary: mat.define-palette(mat.$indigo-palette, 500);
$shoppingCart-accent: mat.define-palette(mat.$amber-palette, 600, 100, 400);
$shoppingCart-warn: mat.define-palette(mat.$red-palette);


$shoppingCart-theme: mat.define-light-theme((
  color: (
    primary: $shoppingCart-primary,
    accent: $shoppingCart-accent,
    warn: $shoppingCart-warn,
  )
));


@include mat.all-component-themes($shoppingCart-theme);
@include mat.core-theme($shoppingCart-theme);
@include mat.button-theme($shoppingCart-theme);

//dark Mode
$my-primary: mat.define-palette(mat.$gray-palette, 600);
$my-accent: mat.define-palette(mat.$amber-palette, 600, 100, 400);
$my-warn: mat.define-palette(mat.$red-palette, 800, 100, 400);

$my-dark-theme: mat.define-dark-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn:$my-warn,
 )
 
));

.darkMode{
@include mat.all-component-themes($my-dark-theme);
@include mat.core-theme($my-dark-theme);
@include mat.button-theme($my-dark-theme);

}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.app-contener{
  margin: 0px;
   padding: 5px;
   min-height: 100%;
}
.outlet{
padding-top: 5px;
}
.form-container{

    display: block;
    max-width: 500px;
    margin: auto;
    background-color: rgba(79, 108, 118, 0.236);
    padding: 20px;
    border-radius: 20px;
}
.form-container mat-form-field{

    width: 100%;
}
.form-container button{
    margin:  5px;
    border-radius: 20px;
    justify-content: center;
}
