<div class="form-container mat-elevation-z5" >
    <h1>SingUp</h1>
<form [formGroup]="singInForm" (ngSubmit)="submit()">
  <mat-form-field>
    <input  matInput placeholder="firstName" formControlName="firstName">
    <mat-error *ngIf="firstName.errors?.['required']"> firstName is required </mat-error>
    <mat-error *ngIf="!firstName.errors?.['minLength']"> firstName Must be 3 letter</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input  matInput placeholder="lastName" formControlName="lastName">
    <mat-error *ngIf="lastName.errors?.['required']"> lastName is required </mat-error>
    <mat-error *ngIf="!lastName.errors?.['minLength']"> lastName Must be 3 letter</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input  matInput placeholder="Email address" formControlName="email">
    <mat-error *ngIf="email.errors?.['required']"> Email is required </mat-error>
    <mat-error *ngIf="email.errors?.['email']"> Enter correct Eamil Address </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Password" formControlName="password">
    <mat-error *ngIf="password.errors?.['required']"> password is required </mat-error>
    <mat-error *ngIf="!password.errors?.['minLength']"> password must be 6 letter</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Confirm Password " formControlName="confirmPassword">
    <mat-error *ngIf="confirmPassword.errors?.['required']"> password is required </mat-error>
  </mat-form-field>
  <mat-error *ngIf="singInForm.errors?.['passwordDontMatch']"> Password Dont Match</mat-error><br>
  <button mat-raised-button color="accent"  type="submit"> Sing Up</button>
</form>
</div>
