<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" class="">
   
   <div fxLayoutGap="20px" fxLayoutAlign="space-around center " class="header-continer ">
      <mat-form-field>
         <input (keyup)="applyFilter($event)" matInput placeholder="serche"  >
       </mat-form-field>
      <button  mat-raised-button  routerLink="/admin/newProducts"  
      color="primary"  mat-button>
      New Products
      </button>
   </div>
      <div class="mat-elevation-z8 table-continer">
         <table mat-table [dataSource]="dataSource" matSort >
  
           <ng-container matColumnDef="categories">
             <mat-header-cell *matHeaderCellDef mat-sort-header> categories </mat-header-cell>
             <mat-cell *matCellDef="let element" data-label="categories"> {{element.categories}} </mat-cell >
           </ng-container>
    
           <ng-container matColumnDef="ProductsName">
             <mat-header-cell *matHeaderCellDef mat-sort-header> Products Name </mat-header-cell>
             <mat-cell *matCellDef="let element"  data-label="ProductsName"> {{element.ProductsName}} </mat-cell>
           </ng-container>

           <ng-container matColumnDef="Price">
             <mat-header-cell *matHeaderCellDef mat-sort-header> Price  </mat-header-cell >
             <mat-cell *matCellDef="let element"  data-label="Price"> {{element.Price}} </mat-cell>
           </ng-container>

           <ng-container matColumnDef="edit">
             <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
             <mat-cell *matCellDef="let element" data-label="edit">
            <button  mat-raised-button  (click)="openDialog(element)" color="primary"  mat-button>Edit</button>
            </mat-cell>
           </ng-container>

           <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
           <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
         </table>
       
         <mat-paginator [pageSizeOptions]="[4, 8, 12]"
                        showFirstLastButtons 
                        aria-label="Select page of periodic elements">
         </mat-paginator>
       </div>
   </div>




