.mat-grid-list{
    margin:30px;
    padding: 20px;
  
  }
  .mat-grid-list mat-form-field{
      width: 100%;
  }
  .mat-grid-list button{
      margin:  5px;
      border-radius: 20px;
      justify-content: center;
  }
  
  .show-protuct h1{
      width: 100%;
      display:block;
  
  }
  .products-card{
      max-width:  450px;
  }
 .mat-card-content{
    border-bottom: solid rgb(58, 58, 58) 2px;
 }
