
<div class="shopp-continer">
<div fxLayout="row wrap" fxLayoutGap="15px grid">
  <div  fxFlex="20%" fxFlex.lg="25%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" *ngFor="let item of item$ ">
    <mat-card class="products-card" >
      <mat-card-header >
        <mat-card-title>{{item.categories}} </mat-card-title>
        <!-- <mat-card-subtitle>{{item.ProductsName}}</mat-card-subtitle> -->
      </mat-card-header>
      <img mat-card-image mat-card-xl-image [src]="item.imageURL"><br>
      <mat-card-content >
        {{item.ProductsName}} <br>
        € {{item.Price}}
      </mat-card-content>
      <mat-card-actions>
        <button   mat-raised-button  (click)="addToCart(product)" class="cart-button" color="primary"   mat-button>
          add to shopping Cart  
         </button>
      </mat-card-actions>
    </mat-card> 
  </div>
</div>
</div>




