.mat-grid-list mat-form-field{
    width: 100%;
}
.mat-grid-list button{
    margin:  5px;
    border-radius: 20px;
    justify-content: center;
}

.show-protuct h1{
    width: 100%;
    display:block;
}