  <div class="mat-grid-list" >
    <div fxLayout="row wrap" fxLayoutGap="15px grid"  fxLayoutAlign="center center">
      <div  fxFlex="50%"  fxFlex.xs="100%" >
          <form [formGroup]="newProducts" (ngSubmit)="save()">
            <h1>add new Products</h1>
            <mat-form-field>
              <input  matInput placeholder="Products Name" formControlName="ProductsName">
              <mat-error *ngIf="ProductsName.errors?.['required']"> title is required </mat-error>
              <mat-error *ngIf="!ProductsName.errors?.['minLength']"> title Must be 3 letter</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input  matInput type="number" placeholder="Price" formControlName="Price">
              <mat-error *ngIf="Price.errors?.['required']"> Price is required </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>catogry</mat-label>
              <mat-select  name="categories" formControlName="categories">
                <mat-option value="Brote" >
                  Brote     
                </mat-option>
                <mat-option  value="Früchte" >
                  Früchte   
                </mat-option>
                <mat-option  value="Gemüse" >
                  Gemüse   
                </mat-option>
                <mat-option value="Fleisch" >
                  Fleisch     
                </mat-option>
              </mat-select>
           </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="image URL"  formControlName="imageURL">
              <mat-error *ngIf="imageURL.errors?.['required']"> imageURl is required </mat-error>
            </mat-form-field>
            <button mat-raised-button color="accent"    type="submit"> save</button>
         </form>
     </div>
     <div  fxFlex="50%"  fxFlex.xs="100%"  >
        <mat-card class="products-card" layout="column"layout-align="center center" >
          <mat-card-header>
            <mat-card-title>{{categorie.value}} </mat-card-title>
          </mat-card-header>
          <img mat-card-image  [src]="imageURL.value "  >
          <mat-card-content>
            {{ProductsName.value}} <br>
            € {{Price.value}}
          </mat-card-content>
        </mat-card> 
      </div>
    </div>
  </div>